extends layout

block content
  .container
    .row
      .col.s12.m4.l8
        h3 #{title}
    each val in articles
      .row
        .col.s12
          .card
            .card-image
              img(src=val.urlToImage)
              br
              span.card-title #{val.title}
            .card-content
              p Source: #{val.source.name}
            .card-action
              a(href=val.url target="_blank") Read Article
            